BasedOnStyle: Microsoft
AlignAfterOpenBracket: false
ColumnLimit: 0
NamespaceIndentation: All
FixNamespaceComments: false
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All
DerivePointerAlignment: false
PointerAlignment: Right
IndentPPDirectives: BeforeHash
BreakTemplateDeclarations: Leave
BreakBeforeBinaryOperators: NonAssignment
AlignOperands: DontAlign
ContinuationIndentWidth: 4
AllowShortLambdasOnASingleLine: None
BreakBeforeBraces: Attach
AccessModifierOffset: -4
AllowShortCaseLabelsOnASingleLine: true

SortIncludes:
  Enabled: false
